body @font-face {
font-family: 'Lobster';
font-style: normal;
font-weight: 400;
src: local('Lobster Regular'), local('Lobster-Regular'), url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/lobster/v22/neILzCirqoswsqX9zo2mM4MwWJXNqA.woff2") format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
font-display: block;
}
.title {
  background-image: url("https://zupimages.net/up/23/39/ba96.png");
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

display: block;
  margin-left: 400;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: rgba(251, 121, 179)
}

.subtitle {
  text-decoration:underline;
  text-align:center ;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
