@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}
  
  body {
    background-color: rgb(200, 0, 155);
  }

  .page {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 800px;
    margin: auto;

 .title {
  background-image: url("img/icon.png");
  height: 200px;
  margin: 0 auto; /* Cela centre la div horizontalement */
  display: flex;
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  background-repeat: no-repeat;
  background-position: center center;
}
  
  .subtitle {
    text-decoration:underline;
    text-align:center ;
  }
  .text{
    margin-left: 150px;
    margin-right: 150px;
  }

  .image_sujet{
    height: 200px;
    margin: 0 auto; /* Cela centre la div horizontalement */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    background-repeat: no-repeat;
    background-position: center center;
  }

  .image_sujet{
    justify-content: center; /* Centre le contenu horizontalement *
  }
    
