body @font-face {
font-family: 'Lobster';
font-style: normal;
font-weight: 400;
src: local('Lobster Regular'), local('Lobster-Regular'), url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/lobster/v22/neILzCirqoswsqX9zo2mM4MwWJXNqA.woff2") format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
font-display: block;
}

.title {
  background-image: url("https://zupimages.net/up/23/39/ba96.png");
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
   box-shadow:
    inset 0 0 1em gold;
}



body {
  background-color: rgb(250, 0, 113)
}

.subtitle {
  text-decoration:underline;
  text-align:center ;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
